.header{
    padding:5px 20px;
    align-items: center;
    display:flex;
    justify-content: space-between;
    background-image: url("../img/background.jpg");
    color:white;
}
.header .header-left{
    display: flex;
    align-items: center;
}
.header .header-left img{
    width: 70px;
    height:auto;
}
.header .header-left span{
    font-size: 2.5rem;
    padding-top:30px;
}
.header .header-right{
    padding:10px 20px;
    margin-right: 100px;
}
.header-right ul li{
    list-style-type: none;
    display:inline-block;
    font-size: larger;
    height:50px;
    line-height: 50px;
    margin:0 6px;
    color:white;
}
.header-right li>a{
    color:white;
    text-decoration: none;
}

