.slider-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    width: 400%;
}

.slide {
    width: 25%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    /* Kích thước hình ảnh bên trong slide */
    height: 300px;
    /* Chiều cao cố định */
    object-fit: cover;
    /* Đảm bảo hình ảnh không bị biến dạng */
    object-position: center;
}

.order-option {
    width: max-content;
    height: max-content;
    margin-top: -100px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 1.5em;
    background-color: azure;
}

.order-option>span {
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px;
    border: solid 1px pink;
    font-style: normal;
    cursor: pointer;
    border-radius: .5em;
}

/* CSS mặc định */
.option {
    cursor: pointer;
    margin-right: 10px;
}

.order-option .order-location {
    margin-top: 30px;
}

.order-location>input {
    width: 90%;
    height: 50px;
    padding: 10px;
    outline: none;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0.5em;
    border-color: bisque;
}

.order-location>input:focus {
    border: solid 2px green;
}

.order-location>i {
    font-size: 1.5em;
    cursor: pointer;
    color: rgb(24, 166, 50);
}

.content {
    text-align: center;
}
.content #menu .border-bottom{
    border-bottom:solid 2px green;
}
.content #menu .list-menu {
    display: inline-block;
    list-style-type: none;
    margin: 0px 5px;
    text-decoration: none;
    cursor:pointer;
}
.content .list-menu .list-menu-button{
    border:none;
    font-size: larger;
    background-color: transparent;
    padding:5px 30px;
    cursor:pointer;
}
.content #menu .list-menu:first-child {
    font-size: 2rem;
    color: red;
    border: none;
    font-style: italic;
    font-family: "Rakkas", serif;
}


.content .dropdown-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 10px;
    overflow:auto;
    margin: 1em 10em;
}

.dropdown-menu .detail-menu {
    border-radius: 1em;
    box-shadow: 0 0 10px rgb(133, 143, 133);
    list-style-type: none;
    position:relative;
    padding:0;
    min-width: 200px;
    flex-wrap: wrap;
}
.dropdown-menu .image-container{
    overflow:hidden;
}
.dropdown-menu .image-container>img:hover{
    transform:scale(1.2);
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    transition:all  .4s ease;
}
.dropdown-menu .image-container>img{
    width:100%; 
    height:auto;
    border-radius: 1em 1em 0 0;
    cursor:pointer;

}
.dropdown-menu .decription {
    padding: 1.2em;
    text-align: left;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    margin-bottom: 1em;
    max-height: 300px;
    overflow-y:scroll;
}   
    .decription .order{
        color:white;
        background-color: rgb(3, 165, 3);
        border:none;
        font-size: larger;
        padding:5px 20px;
        border-radius: .5em;
        font-family: 'Times New Roman', Times, serif;
        position:absolute;
        bottom:1em ;
        right:1em;
        cursor:pointer;
    }
    .decription .order-button{
        width:100%;
        bottom:0;
        right:0;
    }
.content .pizza {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
.content .appetizer{
    grid-template-columns: repeat(4, minmax(200px, 1fr));
}