@import 'header';
@import 'footer';
@import 'hompage';
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:wght@300&family=Rakkas&family=Vina+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: italic;
    box-sizing: border-box;
}

h1 {
    font-size: larger;
    color: green;
}