<footer>
    <div class="footer-top">
        <span>Contact to TastyPizzaHub:</span>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
    <div class="footer-center">
        <div class="footer-left">
            <img src="./img/logo1.png">
            <p>
                <i class="fa-solid fa-phone"></i>
                 Hotline order
            </p>
            <p>1900 6969</p>
            
        </div>
        <div class="footer-middle">
            <ul>
                <li><a href="">Blog</a></li>
                <li><a href="">Menu</a></li>
                <li><a href="">Order tracking</a></li>
                <li><a href="">Recruitment</a></li>
                <li><a href="">Mã E-voucher</a></li>
                <li><a href="">Store list</a></li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Promotion</a></li>
                <li><a href="">Rewards</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <img src="./img/credentials.png">
        </div>

    </div>
    <div class="footer-bottom">
        <i class="fa-regular fa-copyright"></i>
            2024 TastyPizzaHub Viet Nam - Do not copyright
    </div>
    
</footer>