<div class="header">
    <div class="header-left">
        <img src="./img/logo1.png">
        <span>TastyPizzaHub</span>
    </div>
    <div class="header-right">
        <ul>
           
            <li><a href="">
                <i class="fa-solid fa-bell"></i>    
                Thông báo</a></li>
            <li><a href="">
                <i class="fa-solid fa-earth-americas"></i>
                Tiếng Việt</a></li>
            <li><a href="">
                <i class="fa-solid fa-user"></i>
                Thành viên</a></li>
            <li><a href="">
                <i class="fa-solid fa-cart-shopping"></i>
                Giỏ hàng</a></li>
        </ul>
    </div>
</div>